[submodule "munster-cli/src/assets/munster-starter-app"]
	path = munster-cli/src/assets/munster-starter-app
	url = https://mfpjayb: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@github.com/mfpjayb/munster-starter-app.git
